<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQKi9z8VZlsMcK27v3VnUSENtkPZ3HK3o</string>
	<key>GCM_SENDER_ID</key>
	<string>447142493563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multiuserHabits</string>
	<key>PROJECT_ID</key>
	<string>multi-user-b31b4</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-user-b31b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447142493563:ios:6ddfd3e5a580bd2f7951de</string>
</dict>
</plist>